[package]
name = "parity-db-admin"
version = "0.0.1"
authors = ["Parity Technologies <admin@parity.io>"]
publish = false
edition = "2018"

[dependencies]
clap = { version = "4", features = ["derive"] }
env_logger = "0.10.0"
fdlimit = "0.2.1"
log = "0.4.8"
parity-db = { path = ".." }
rand = { version = "0.8.5", features = ["small_rng"] }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemallocator = "0.5.0"
